---
import "../../styles/globals.css";
import MoreTools from "../info/moretools.astro";
import Footer from "./Footer.astro";
import FormatHeading from "./FormatHeading.astro";
import Head from "./Head.astro";
import Header from "./header.astro";

type Props = {
  title: string;
  description: string;
  language: string;
  image?: string;
  minify?: boolean;
};

const { title, description, image, language, minify } = Astro.props;

const faviconMap: Record<string, string> = {
  cpp: "/favicons/cpp.ico",
  dart: "/favicons/dart.ico",
  html: "/favicons/html.ico",
  json: "/favicons/json.ico",
  php: "/favicons/php.ico",
  ruby: "/favicons/ruby.ico",
  swift: "/favicons/swift.ico",
  xml: "/favicons/xml.ico",
  csharp: "/favicons/csharp.ico",
  default: "/favicons/default.ico",
  java: "/favicons/java.ico",
  lua: "/favicons/lua.ico",
  proto: "/favicons/proto.ico",
  scss: "/favicons/scss.ico",
  toml: "/favicons/toml.ico",
  yaml: "/favicons/yaml.ico",
  c: "/favicons/c.ico",
  css: "/favicons/css.ico",
  go: "/favicons/go.ico",
  javascript: "/favicons/javascript.ico",
  markdown: "/favicons/markdown.ico",
  python: "/favicons/python.ico",
  sql: "/favicons/sql.ico",
  typescript: "/favicons/typescript.ico",
  zig: "/favicons/zig.ico",
};

const favicon = faviconMap[language] || "/favicons/default.ico";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={`${title} | Happy Formatter, the best online formatter`}
      description={description}
      image={image}
      favicon={favicon}
    />
  </head>
  <body>
    <div class="fixed inset-0 -z-10 h-full w-full bg-background bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
    </div>
    <Header />
    <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 min-h-[calc(100vh-theme(spacing.16))]">
      <FormatHeading language={language} minify={minify ?? false} />
      <slot />
    </main>
    <MoreTools />
    <Footer />
  </body>
  <script>
  </script>
</html>
