---
import { getFormatter } from "@/handlers";
import { getInitialCode } from "@/lib/initialCode";
import { scope } from "simple:scope";
import Button from "../ui/button.astro";
import CodePlayground from "./CodePlayground.astro";
import OutputPlayground from "./OutputPlayground.astro";
import { formattedStore, inputStore } from "./store";

interface Props {
  minifier: boolean;
  language: string;
}

const { language, minifier } = Astro.props;

const input = inputStore.get();

if (!input) {
  const initialCode = getInitialCode(language);
  const formatter = await getFormatter(language);
  const formatted = await formatter.formatCode(initialCode);

  inputStore.set(initialCode);
  formattedStore.set(formatted);
}

const formatted = formattedStore.get();
---

<RootElement>
  <div
    class="flex flex-col items-center justify-center mt-20 bg-background p-4 sm:p-6"
    data-language={language}
    data-target="root"
    id="formatter"
  >
    <div class="w-full max-w-6xl bg-card p-4 sm:p-6 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 gap-6 sm:gap-14 md:grid-cols-2">
        <div class="relative">
          <CodePlayground
            inputCode={input}
            language={language}
          />
          <!-- <JsonValidity /> -->
        </div>
        <div class="relative">
          <OutputPlayground
            formattedCode={formatted}
            language={language}
          />
        </div>
      </div>
      <div class="flex flex-col sm:flex-row justify-center mt-6 gap-4">
        <Button size="lg" target={scope("format")}>Format</Button>
        {
          minifier && (
            <Button size="lg" target={scope("minify")}>
              Minify
            </Button>
          )
        }
      </div>
    </div>
  </div>
</RootElement>

<script>
import { getFormatter, getMinifier } from "@/handlers";
import { getInitialCode } from "@/lib/initialCode";
import { formattedStore, inputStore } from "./store";

RootElement.ready(async ($) => {
  const divElement = $("root");
  const language = divElement.dataset.language!;

  const formatter = await getFormatter(language);
  const minifier = await getMinifier(language);

  const trackEvent = (eventName: string, eventLabel: string) => {
    try {
      gtag("event", eventName, {
        "event_category": "Button",
        "event_label": eventLabel,
        "value": language,
      });
    } catch (err) {
      console.error(
        `Error sending ${eventName} event to Google Analytics:`,
        err,
      );
    }
  };

  const formatButton = $("format");
  formatButton.addEventListener("click", async () => {
    let inputCode = inputStore.get();
    if (!inputCode) {
      inputCode = getInitialCode(language);
      inputStore.set(inputCode);
    }

    try {
      const formatted = await formatter.formatCode(inputCode);
      formattedStore.set(formatted);
    } catch (error) {
      console.error("Invalid code:", error);
    }

    trackEvent(`Format ${language} Click`, "click");
  });
  formatButton.addEventListener(
    "mouseover",
    () => trackEvent(`Format ${language} Hover`, "mouseover"),
  );
  formatButton.addEventListener(
    "mouseleave",
    () => trackEvent(`Format ${language} Hover`, "mouseleave"),
  );
  formatButton.addEventListener(
    "focus",
    () => trackEvent(`Format ${language} Focus`, "focus"),
  );

  if (minifier) {
    const minifyButton = $("minify");
    minifyButton.addEventListener("click", async () => {
      let inputCode = inputStore.get();

      if (!inputCode) {
        inputCode = getInitialCode(language);
        inputStore.set(inputCode);
      }

      try {
        const minified = await minifier.minifyCode(inputCode);
        formattedStore.set(minified);
      } catch (error) {
        console.error("Invalid code:", error);
      }

      trackEvent(`Minify ${language} Click`, "click");
    });

    minifyButton.addEventListener(
      "mouseover",
      () => trackEvent(`Minify ${language} Hover`, "mouseover"),
    );
    minifyButton.addEventListener(
      "mouseleave",
      () => trackEvent(`Minify ${language} Hover`, "mouseleave"),
    );
    minifyButton.addEventListener(
      "focus",
      () => trackEvent(`Minify ${language} Focus`, "focus"),
    );
  }
});
</script>
